#game {
  h1 {
    text-align: center;
    padding: 4% 0 3%;
    font-size: 24px;
  }

  #menu {
    text-align: center;
    font-size: 12px;

    .listing {
      padding: 10px;
     }
  }

  #space {
    width: 480px;
    height: 480px;
    position: relative;
    overflow: hidden;
  }

  #footer {
    margin: 30px 50px 0;

    #console {
      border: 0;
      background: rgba(0,0,0, 0.3);
      padding: 5px;
      height: 15em;
    }

    input {
      display: block;
      margin: 20px auto;
      height: 1em;
      width: 75%;
      background: rgba(0,0,0, 0.3);
      border: rgba(246, 199, 132, 0.5) solid 1px;
      padding: 2px;
      font: normal 12px/1.2em "DejaVu Sans Mono";
      color: #f6c784;
    }
  }
}

// Pieces
.piece {
  position: absolute;
  top: 60px;
  width: 60px;
  height: 60px;
  background: url(pieces.png);

  &.selected {
    opacity: 0.6;
  }
  &.queen.white {
    background-position: 0 -60px;
  }
  &.white {
    background-position: -60px -60px;
  }
  &.queen.black {
    background-position: 0px 0px;
  }
  &.black {
    background-position: -60px 0px;
  }
  &.ghost {
    background-position: 0px -120px;
  }

  // Since classes start with numbers, I'll prefix them with 'p'.
  // For the sake of consistency the letters will be prefixed as well.
  &.p1  { top: 0px; }
  &.p2  { top: 60px; }
  &.p3  { top: 120px; }
  &.p4  { top: 180px; }
  &.p5  { top: 240px; }
  &.p6  { top: 300px; }
  &.p7  { top: 360px; }
  &.p8  { top: 420px; }

  &.pa  { left: 420px; }
  &.pb  { left: 360px; }
  &.pc  { left: 300px; }
  &.pd  { left: 240px; }
  &.pe  { left: 180px; }
  &.pf  { left: 120px; }
  &.pg  { left: 60px; }
  &.ph  { left: 0px; }
}
